
html, body {
	background-image: url('../img/shelterbg5.jpg');
	height: 100%;
	padding-bottom: 70px;
}

.header {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer {
	text-align: right;
	padding-top: 10px;
	padding-right: 25px;
}

.shelter-menu-buttons {
	padding-bottom: 25px;
}

.shelter-action-buttons {
	padding: 25px;	
}

.shelter-button {
	width: 180px;
	padding: 2px;
}

ul#messages li {
	display: block;
	width: 80%;
	margin: 15px auto;
	padding: 15px;
}

.shelter-alert {
	display: block;
	width: 80%;
	margin: 15px auto;
	padding: 15px;
}

.shelter-auth-user-data {
	text-align: center;
	padding-top: 10px;
}

.shelter-index {
	height: 700px;
	border-radius: 10px;
}


