.test {
	background-color: indigo;
	border-radius: 20px;
	text-align: center;
	font-family: fantasy;
	color: white;
}

html, body {
	height: 100%;
	padding-bottom: 70px;
}

.footer {
	background-color: #eeeeec;
	color: white;
	text-shadow: 3px 3px 5px black;
	text-align: right;
	padding-top: 10px;
	padding-right: 25px;
}

.header {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.buttons {
	padding: 25px;
}

ul#messages li {
	display: block;
	width: 80%;
	margin: 15px auto;
	padding: 15px;
}