<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head"/>
<body>

<div class="container">
    <header th:replace="layout::site-header"></header>
    <br/>
    <div class="alert alert-success">Additional css test</div>
    <div class="test">Custom css test</div>
    <h1>Shelter for your restricted data!</h1>
    <h2>Work in progress</h2>
    Now is: <b th:text="${execInfo.now.time}"></b>
    <footer th:replace="layout::site-footer"></footer>
</div>

</body>
</html>