<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head th:fragment=“head”>
    <meta charset="UTF-8"/>
    <title>Welcome in littleshelter!</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js" th:href="@{webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" th:href="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>

<header th:fragment="site-header" class="header">
    <a class="btn btn-default" href="index.html" th:href="@{/}">Home</a>
    <a class="btn btn-default" href="users/login.html" th:href="@{/login}">Login</a>
    <a class="btn btn-default" href="users/register.html" th:href="@{/register}">Register</a>
    <a class="btn btn-default" href="posts/index.html" th:href="@{/restrictedData}">All your restricted data</a>
    <a class="btn btn-default" href="posts/create.html" th:href="@{/createRestrictedData}">Add some restricted data</a>
    <a class="btn btn-default" href="users/index.html" th:href="@{/users}">Users</a>
    
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-default" type="submit" value="Logout"/>
    </form>
    
	<ul id="messages"
		th:with="notificationMessages=${session[T(pl.karol.littleshelter.service.NotificationServiceImpl).NOTIFICATION_MESSAGE_SESSION_KEY]}">
		<li class="alert"
			th:each="message:${notificationMessages}" 
			th:text="${message.text}"
			th:classappend="${#strings.toLowerCase(message.type) == 'info'} ? alert-success : alert-danger">
		</li>
	</ul>
		
</header>

<footer th:fragment="site-footer" class="footer navbar navbar-fixed-bottom">
    &copy; Created by: Nowosad Karol 
</footer>

</body>
</html>