<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head" />
<body>

	<div class="container">
	
	<header th:replace="layout::header"></header>

		<div class="form-group">
			<form name="login-form" th:action="@{/login}" method="post">
			
			 	<div th:if="${param.error}" class="alert alert-error">    
                    Invalid username or password.
                </div>

				<div>
					<label for="username">Email:</label>
				</div>
				<input id="username" class="form-control" type="text" name="username"/> 
				
				<div>
					<label for="password">Password:</label>
				</div>
				<input id="password" class="form-control" type="password" name="password"/> 
				
				<div class="buttons">
					<input class="btn btn-default" type="submit" value="Login" /> <a
						class="btn btn-default" href="register.html"
						th:href="@{/register}">Go to Register </a>
				</div>
			</form>
		</div>

		<footer th:replace="layout::site-footer"></footer>
	</div>

</body>
</html>