<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head" />
<body>

	<div class="container">
	
	<header th:replace="layout::header"></header>

		<div class="form-group">
			<form name="login-form" th:action="@{/login}" method="post">
			
			 	<div th:if="${param.error}" class="alert alert-danger shelter-alert">    
                    INVALID USERNAME OR PASSWORD! Correct it please.
                </div>

				<div>
					<label for="username">Email:</label>
				</div>
				<input id="username" class="form-control" type="text" name="username" maxlength="50"/> 
				
				<div>
					<label for="password">Password:</label>
				</div>
				<input id="password" class="form-control" type="password" name="password" maxlength="50"/>

				<div class="checkbox">
					<label> 
						<input id="remember_me" name="remember-me" type="checkbox"/>Remember me
					</label>
				</div>

				<div class="shelter-action-buttons">
					<input class="btn btn-success" type="submit" value="Login" /> <a
						class="btn btn-primary" href="register.html"
						th:href="@{/register}">Go to Register </a>
				</div>
			</form>
		</div>

		<footer th:replace="layout::site-footer"></footer>
	</div>

</body>
</html>