<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head" />
<body>

	<div class="container">
	
	<header th:replace="layout::header"></header>

		<div class="form-group">
			<form method="post" th:action="@{/createRestrictedData}" th:object="${restrictedData}">

				<div>
					<label for="data">Data:</label>
				</div>
				<input id="data" class="form-control" type="text" maxlength="250"
					th:field="*{data}" />
					
				<div>
					<label for="description">Description:</label>
				</div>
				<input id="description" class="form-control" type="text" maxlength="250"
					th:field="*{description}" />

				<div class="shelter-action-buttons">
					<input class="btn btn-success" type="submit" value="Create restricted data" />
				</div>
			</form>
		</div>

		<footer th:replace="layout::site-footer"></footer>
	</div>

</body>
</html>