<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head" />
<body>

	<div class="container">
		<header th:replace="layout::site-header"></header>

		<table class="table table-striped">
			<caption>All users</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Phone number</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td class="col-md-3" th:text="${user.name}"/>
					<td class="col-md-3" th:text="${user.lastname}"/>
					<td class="col-md-3" th:text="${user.email}"/>
					<td class="col-md-3" th:text="${user.phoneNumber}"/>
				</tr>
			</tbody>
		</table>

		 <footer th:replace="layout::site-footer"></footer>
	</div>

</body>
</html>